.screenshots img {
    width: 720px;
    height: 480px;
}

.characters img {
    margin-left: -6%;
    width: 100%;
    height: 100%;
}

p{
    text-align: left;
    font-size: 25px;
}

h1, a{
    font-size: 34px;
}

.header {
    width: 100%;
    height: 180px;
    background-color: gray;
}

.header h1, p {
    text-align: center;
}

.game h1, p {
    text-align: left;
}
